{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/auth.css') }}">
{% endblock %}

{% block body %}
<div class="auth-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="auth-card">
                    <h1 class="auth-title">Créer un compte</h1>
                    
                    {{ form_start(registrationForm, {'attr': {'class': 'auth-form'}}) }}
                        <div class="mb-3">
                            {{ form_label(registrationForm.email, 'Email') }}
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.email) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>

                        <div class="mb-3 form-check">
                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(registrationForm.agreeTerms, 'J\'accepte les conditions d\'utilisation', {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_errors(registrationForm.agreeTerms) }}
                        </div>

                        <button type="submit" class="btn btn-primary auth-btn">S'inscrire</button>
                    {{ form_end(registrationForm) }}

                    <div class="auth-separator">ou</div>

                    <div class="social-login">
                        <a href="#" class="social-btn">
                            <i class="fab fa-google me-2"></i>Google
                        </a>
                        <a href="#" class="social-btn">
                            <i class="fab fa-facebook-f me-2"></i>Facebook
                        </a>
                    </div>

                    <div class="auth-footer">
                        <p>Vous avez déjà un compte ? 
                            <a href="{{ path('app_login') }}">Se connecter</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
